body{
    font-family:Arial, Helvetica, sans-serif
}

h1 {
    margin: auto;
    text-align: center;
    padding: 20px;
    margin-top: 1em;
}

#game-board {
    margin: auto;
    width: 300px;
    height: 300px;
    background-color: lightgray;
    display:grid;
    grid-template-columns: auto auto auto;
    

}

.squares{
    background-color: rgb(255, 255, 255);
    border: 1.5px solid black;
    font-size: 5em;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.squares:hover {
    background-color: rgb(230, 230, 230);
}

#square1, #square2, #square3 {
    border-top: none;
}

#square1, #square4, #square7 {
    border-left: none;
}

#square3, #square6, #square9 {
    border-right: none;
}

#square7, #square8, #square9 {
    border-bottom: none;
}

#restart {
    margin: auto;
    text-align: center;
    }

#restart-button {
    font-size: 2em;
    border: none;
    margin: 1em;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255);
}

#restart-button:hover {
    border: 2px solid rgb(146, 146, 146);
    border-radius: 5px;
}

#line246 {
    height: 375px;
    width: 5px;
    background-color: rgb(204, 2, 2);
    transform: rotate(45deg);
    position:absolute;
    margin:auto;
    top: 75px;
    left: 510px;
    border-radius: 15px;
    visibility:hidden;
}

#line048 {
    height: 375px;
    width: 5px;
    background-color: rgb(204, 2, 2);
    transform: rotate(-45deg);
    position:absolute;
    margin:auto;
    top: 75px;
    left: 510px;
    border-radius: 15px;
    visibility:hidden;
}

#line258 {
    height: 340px;
    width: 5px;
    background-color: rgb(204, 2, 2);
    transform: rotate(180deg);
    position:absolute;
    margin:auto;
    top: 90px;
    left: 614px;
    border-radius: 15px;
    visibility:hidden;
}

#line147 {
    height: 340px;
    width: 5px;
    background-color: rgb(204, 2, 2);
    transform: rotate(180deg);
    position:absolute;
    margin:auto;
    top: 90px;
    left: 510px;
    border-radius: 15px;
    visibility:hidden;
}

#line036 {
    height: 340px;
    width: 5px;
    background-color: rgb(204, 2, 2);
    transform: rotate(180deg);
    position:absolute;
    margin:auto;
    top: 90px;
    left: 407px;
    border-radius: 15px;
    visibility:hidden;
}

#line678 {
    height: 340px;
    width: 5px;
    background-color: rgb(204, 2, 2);
    transform: rotate(90deg);
    position:absolute;
    margin:auto;
    top: 195px;
    left: 507px;
    border-radius: 15px;
    visibility: hidden;
   
}

#line345 {
    height: 340px;
    width: 5px;
    background-color: rgb(204, 2, 2);
    transform: rotate(90deg);
    position:absolute;
    margin:auto;
    top: 90px;
    left: 507px;
    border-radius: 15px;
    visibility: hidden;
   
}

#line012 {
    height: 340px;
    width: 5px;
    background-color: rgb(204, 2, 2);
    transform: rotate(90deg);
    position:absolute;
    margin:auto;
    top: -13px;
    left: 507px;
    border-radius: 15px;
    visibility: hidden;
   
}